@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .backdrop{
        @apply fixed inset-0 transform transition-all duration-300 backdrop-blur-sm bg-slate-800/50;
    }
    
}

@layer components{
    .modal {
        position: absolute;
        top: 5vw;
        left: 0;
        right: 0;
        bottom: 5vw;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 8px;
        outline: none;
        width: 80%;
        max-width: 800px;
        overflow: hidden;
      }
      
      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75);
      }
}
